<div class="fixed">
  <nav class="top-bar" data-topbar>
  	<ul class="title-area">
      <li class="name">
        <a href="/"> <%= image_tag "crowdlogo.png" %> </a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li>
          <a href="/projects" class="discover alert button "> <i class="fa fa-caret-square-o-right"></i> Discover Projects</a>
        </li>
        <li>
          <a href="/projects" class="alert button submit"> <i class="fa fa-bookmark"></i> Submit Projects</a>
        </li>
        <% if current_user %>
          <li class="active">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-in fa-fw"></i>
              Sign out
            <% end %>
          </li>
          <li class="active">
            <%= link_to user_path(current_user) do %>
              <i class="fa fa-user fa-fw"></i>
              Profile
            <% end %>
          </li>

        <% else %>
          <li class="active">
          	<a href="/users/sign_in">
          		<i class="fa fa-sign-in fa-fw"></i>
          		log in
          	</a>
          </li>
        <% end %>

      </ul>
    </section>
  </nav>

	<div class="mobile-nav">
    <a href="/users/sign_in">Login</a>
    <a href="/users/sign_in">Sign up</a>
  </div>

</div>
