<div class="fixed">
  <nav class="top-bar" data-topbar>
  	<ul class="title-area">
      <li class="name">
        <a href="/"> <%= image_tag "crowdlogo.png" %> </a>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="right">
        <li>
          <a href="/projects" class="alert button">Discover Projects</a>
        </li>
        <% if current_user %>
          <li class="active">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-in fa-fw"></i>
              sign out
            <% end %>
          </li>
        <% else %>
          <li class="active">
          	<a href="/users/sign_in">
          		<i class="fa fa-sign-in fa-fw"></i>
          		log in
          	</a>
          </li>
        <% end %>

      </ul>
    </section>
  </nav>

	<div class="mobile-nav">
    <a href="/users/sign_in">Login</a>
    <a href="/users/sign_in">Sign up</a>
  </div>

</div>
