<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Animated Responsive Image Grid - Cycling through a set of images in a responsive grid." />
    <meta name="keywords" content="grid, images, thumbnails, responsive, css3, jquery, javascript, random, transition, 3d, perspective" />
    <meta name="author" content="Codrops" />
    <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:700,400' rel='stylesheet' type='text/css'>

   <!--  <title>Foundation | Welcome</title>-->
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="shortcut icon" href="../favicon.ico"> 
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!-- <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
    

    <script type="text/javascript" src="js/vendor/modernizr.js"></script>
    <noscript>
      <link rel="stylesheet" type="text/css" href="css/fallback.css" />
    </noscript>
  </head>
  <body>

    <nav class="top-bar" data-topbar>
       <ul class="title-area">
          <li class="name">
            <img src="img/crowdlogo.png" alt="crowdded logo">
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>

    <section class="top-bar-section">
    
        <ul class="right">
          <li class="has-form">
            <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input type="text" placeholder="Find Stuff">
            </div>
            <div class="large-4 small-3 columns">
              <a href="#" class="alert button expand">Search</a>
            </div>
            </div>
          </li>
          <li class="active"><a href="#">log in</a></li>
          <li class="active"><a href="#">sign up</a></li>
          
        </ul>

    </nav>


    <!-- <div class="row block1">
      <div class="large-12 columns">
      </div>
    </div> -->
    <div id="block1">
      <h1> THE WORLD'S FIRST
      CROWDFUNDING PLATFORM
      EXCLUSIVELY FOR MISSION-DRIVEN BUSINESS</h1>
      <h2>"Investors and entrepreneurs with shared values can make money and make a difference."</h2>
      <div id="ri-grid" class="ri-grid ri-grid-size-2">


          <!-- <img class="ri-loading-image"/> -->
          <ul>

            <li><a href="#"><img src="img/medium/1.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/2.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/3.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/4.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/5.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/6.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/7.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/8.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/9.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/10.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/11.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/12.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/13.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/14.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/15.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/16.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/17.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/18.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/19.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/20.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/21.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/22.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/23.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/24.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/25.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/26.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/27.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/28.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/29.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/30.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/31.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/32.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/33.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/34.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/35.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/36.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/37.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/38.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/39.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/40.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/41.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/42.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/43.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/44.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/45.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/46.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/47.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/48.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/49.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/50.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/51.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/52.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/53.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/54.jpg"/></a></li>

          </ul>
        </div>
    </div>
    <div class="row block2">
      <div class="small-6 large-centered columns">
      
        <div class="row investors">
          <h1> Investors </h1>
          <div class="large-4 columns">
            <h2> Invest as lil as£1 </h2>
            <p> l a d'abord joué dans le groupe des Red Mountain Gospellers, puis avec The Phalanster et enfin avec Taï Phong. Toutefois, c'est principalement sa carrière solo qui lui a permis de s'imposer comme l'un des chanteurs les plus populaires de sa génération, avec des titres comme Quand la musique est bonne (1982) ou Je te donne (1985). Il a ensuite mis de côté sa carrière en solo pendant la première partie des années 1990 pour fonder le trio Fredericks Goldman Jones, avec le Franco-Gallois Michael Jones et l'Américaine Carole Fredericks. </p> 
          </div>
          <div class="large-4 columns">
          <h2> Earn points </h2>
            <p> l a d'abord joué dans le groupe des Red Mountain Gospellers, puis avec The Phalanster et enfin avec Taï Phong. Toutefois, c'est principalement sa carrière solo qui lui a permis de s'imposer comme l'un des chanteurs les plus populaires de sa génération, avec des titres comme Quand la musique est bonne (1982) ou Je te donne (1985). Il a ensuite mis de côté sa carrière en solo pendant la première partie des années 1990 pour fonder le trio Fredericks Goldman Jones, avec le Franco-Gallois Michael Jones et l'Américaine Carole Fredericks. </p> 
          </div>
          <div class="large-4 columns">
          <h2> invite your friends </h2>
            <p> l a d'abord joué dans le groupe des Red Mountain Gospellers, puis avec The Phalanster et enfin avec Taï Phong. Toutefois, c'est principalement sa carrière solo qui lui a permis de s'imposer comme l'un des chanteurs les plus populaires de sa génération, avec des titres comme Quand la musique est bonne (1982) ou Je te donne (1985). Il a ensuite mis de côté sa carrière en solo pendant la première partie des années 1990 pour fonder le trio Fredericks Goldman Jones, avec le Franco-Gallois Michael Jones et l'Américaine Carole Fredericks. </p> 
          </div>
        </div>
        <div class="row business">
          <h1> Submit your biz </h1>
          <div class="large-4 columns">
            <h2> Invest as lil as£1 </h2>
            <p> l a d'abord joué dans le groupe des Red Mountain Gospellers, puis avec The Phalanster et enfin avec Taï Phong. Toutefois, c'est principalement sa carrière solo qui lui a permis de s'imposer comme l'un des chanteurs les plus populaires de sa génération, avec des titres comme Quand la musique est bonne (1982) ou Je te donne (1985). Il a ensuite mis de côté sa carrière en solo pendant la première partie des années 1990 pour fonder le trio Fredericks Goldman Jones, avec le Franco-Gallois Michael Jones et l'Américaine Carole Fredericks. </p> 
          </div>
          <div class="large-4 columns">
          <h2> Global reach </h2>
            <p> l a d'abord joué dans le groupe des Red Mountain Gospellers, puis avec The Phalanster et enfin avec Taï Phong. Toutefois, c'est principalement sa carrière solo qui lui a permis de s'imposer comme l'un des chanteurs les plus populaires de sa génération, avec des titres comme Quand la musique est bonne (1982) ou Je te donne (1985). Il a ensuite mis de côté sa carrière en solo pendant la première partie des années 1990 pour fonder le trio Fredericks Goldman Jones, avec le Franco-Gallois Michael Jones et l'Américaine Carole Fredericks. </p> 
          </div>
          <div class="large-4 columns">
          <h2> Make money </h2>
            <p> l a d'abord joué dans le groupe des Red Mountain Gospellers, puis avec The Phalanster et enfin avec Taï Phong. Toutefois, c'est principalement sa carrière solo qui lui a permis de s'imposer comme l'un des chanteurs les plus populaires de sa génération, avec des titres comme Quand la musique est bonne (1982) ou Je te donne (1985). Il a ensuite mis de côté sa carrière en solo pendant la première partie des années 1990 pour fonder le trio Fredericks Goldman Jones, avec le Franco-Gallois Michael Jones et l'Américaine Carole Fredericks. </p> 
          </div>
        </div>
      </div>
    </div>
    <div id="block3">
      <div class="row block3">
        <div class="small-6 large-centered columns"></div>
      </div>
    </div>
    <div class="row block4">
      <div class="small-6 large-centered columns"></div>
    </div>
    
   

    <footer>@crowdded</footer>
   <!--  <div class="row">
      <div class="large-12 columns">
        <h1>Welcome to Foundation</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">
	        <h3>We&rsquo;re stoked you want to try Foundation! </h3>
	        <p>To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.</p>
	        <p>Once you've exhausted the fun in this document, you should check out:</p>
	        <div class="row">
	        	<div class="large-4 medium-4 columns">
	    		<p><a href="http://foundation.zurb.com/docs">Foundation Documentation</a><br />Everything you need to know about using the framework.</p>
	    	</div>
	        	<div class="large-4 medium-4 columns">
	        		<p><a href="http://github.com/zurb/foundation">Foundation on Github</a><br />Latest code, issue reports, feature requests and more.</p>
	        	</div>
	        	<div class="large-4 medium-4 columns">
	        		<p><a href="http://twitter.com/foundationzurb">@foundationzurb</a><br />Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).</p>
	        	</div>        
					</div>
      	</div>
      </div>
    </div>

    <div class="row">
      <div class="large-8 medium-8 columns">
        <h5>Here&rsquo;s your basic grid:</h5>
        <!-- Grid Example -->

       <!--  <div class="row">
          <div class="large-12 columns">
            <div class="callout panel">
              <p><strong>This is a twelve column section in a row.</strong> Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 medium-6 columns">
            <div class="callout panel">
              <p>Six columns</p>
            </div>
          </div>
          <div class="large-6 medium-6 columns">
            <div class="callout panel">
              <p>Six columns</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-4 medium-4 small-4 columns">
            <div class="callout panel">
              <p>Four columns</p>
            </div>
          </div>
          <div class="large-4 medium-4 small-4 columns">
            <div class="callout panel">
              <p>Four columns</p>
            </div>
          </div>
          <div class="large-4 medium-4 small-4 columns">
            <div class="callout panel">
              <p>Four columns</p>
            </div>
          </div>
        </div>
        
        <hr />
                
        <h5>We bet you&rsquo;ll need a form somewhere:</h5>
        <form>
				  <div class="row">
				    <div class="large-12 columns">
				      <label>Input Label</label>
				      <input type="text" placeholder="large-12.columns" />
				    </div>
				  </div>
				  <div class="row">
				    <div class="large-4 medium-4 columns">
				      <label>Input Label</label>
				      <input type="text" placeholder="large-4.columns" />
				    </div>
				    <div class="large-4 medium-4 columns">
				      <label>Input Label</label>
				      <input type="text" placeholder="large-4.columns" />
				    </div>
				    <div class="large-4 medium-4 columns">
				      <div class="row collapse">
				        <label>Input Label</label>
				        <div class="small-9 columns">
				          <input type="text" placeholder="small-9.columns" />
				        </div>
				        <div class="small-3 columns">
				          <span class="postfix">.com</span>
				        </div>
				      </div>
				    </div>
				  </div>
				  <div class="row">
				    <div class="large-12 columns">
				      <label>Select Box</label>
				      <select>
				        <option value="husker">Husker</option>
				        <option value="starbuck">Starbuck</option>
				        <option value="hotdog">Hot Dog</option>
				        <option value="apollo">Apollo</option>
				      </select>
				    </div>
				  </div>
				  <div class="row">
				    <div class="large-6 medium-6 columns">
				      <label>Choose Your Favorite</label>
				      <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
				      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
				    </div>
				    <div class="large-6 medium-6 columns">
				      <label>Check these out</label>
				      <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
				      <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
				    </div>
				  </div>
				  <div class="row">
				    <div class="large-12 columns">
				      <label>Textarea Label</label>
				      <textarea placeholder="small-12.columns"></textarea>
				    </div>
				  </div>
				</form>
      </div>     

      <div class="large-4 medium-4 columns">
			  <h5>Try one of these buttons:</h5>
			  <p><a href="#" class="small button">Simple Button</a><br/>
        <a href="#" class="small radius button">Radius Button</a><br/>
        <a href="#" class="small round button">Round Button</a><br/>            
        <a href="#" class="medium success button">Success Btn</a><br/>
        <a href="#" class="medium alert button">Alert Btn</a><br/>
        <a href="#" class="medium secondary button">Secondary Btn</a></p>           
				<div class="panel">
        	<h5>So many components, girl!</h5>
        	<p>A whole kitchen sink of goodies comes with Foundation. Checkout the docs to see them all, along with details on making them your own.</p>
        	<a href="http://foundation.zurb.com/docs/" class="small button">Go to Foundation Docs</a>          
        </div>
      </div>
    </div>
 -->     
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script type="text/javascript" src="js/jquery.gridrotator.js"></script>
    <script type="text/javascript"> 
      $(document).foundation();

      $(function() {
      
        $( '#ri-grid' ).gridrotator( {
          rows    : 4,
          columns   : 12,
          animType  : 'fadeInOut',
          animSpeed : 1000,
          interval  : 600,
          step    : 1,
          w320    : {
            rows  : 3,
            columns : 4
          },
          w240    : {
            rows  : 3,
            columns : 4
          }
        } );
      
      });


    </script>
  </body>
</html>
