<% if current_company %>
  <%= link_to 'New Mission', new_project_path %>
<% end %>

<% @projects.each do |prj| %>
  <h2>
    Company: <%= prj.company.name %>
    <h3>
      <%= link_to prj.name, project_path(prj) %>
    </h3>
    <h4>
      Headline: <%= prj.headline %>
    </h4>
  </h2>
<% end %>

