<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Animated Responsive Image Grid - Cycling through a set of images in a responsive grid." />
    <meta name="keywords" content="grid, images, thumbnails, responsive, css3, jquery, javascript, random, transition, 3d, perspective" />
    <meta name="author" content="Codrops" />
    <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:700,400' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/foundation-icons.css" />
    <link rel="stylesheet" href="css/main1.css" />
    <link rel="shortcut icon" href="../favicon.ico"> 
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link href="css/default.css" rel="stylesheet" type="text/css" />
    <link href="css/demo2.css" rel="stylesheet" type="text/css" />
 
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
     


    <script type="text/javascript" src="js/vendor/modernizr.js"></script>
    <noscript>
      <link rel="stylesheet" type="text/css" href="css/fallback.css" />
    </noscript>
  </head>
  <body>
  <div class="fixed">
      <nav class="top-bar" data-topbar>
       <ul class="title-area">
          <li class="name">
            <a href="#"> <img  href="#" src="img/crowdlogo.png" alt="crowdded logo"> </a>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li>
              <a href="#" class="alert button">Discover Projects</a>
            </li>
            <li class="active"><a href="#"><i class="fa fa-sign-in fa-fw"></i>  log in</a>
            </li>

            <li class="active"><a href="#"><i class="fa fa-pencil-square-o fa-fw"></i>   sign up</a></li>

          </ul>
        </section>
      </nav>
    </div>

    <div class="mobile-nav">
      <a href="#">Login</a>
      <a href="#">Sign up</a>
    </div>

    </div>


    
    <div id="block1">
      <h1> THE WORLD'S FIRST
      CROWDFUNDING PLATFORM
      EXCLUSIVELY FOR MISSION-DRIVEN BUSINESS</h1>
      
      <div id="ri-grid" class="ri-grid ri-grid-size-2">


          <ul>

            <li><a href="#"><img src="img/medium/1.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/2.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/3.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/4.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/5.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/6.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/7.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/8.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/9.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/10.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/11.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/12.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/13.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/14.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/15.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/16.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/17.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/18.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/19.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/20.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/21.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/22.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/23.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/24.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/25.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/26.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/27.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/28.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/29.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/30.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/31.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/32.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/33.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/34.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/35.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/36.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/37.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/38.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/39.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/40.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/41.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/42.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/43.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/44.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/45.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/46.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/47.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/48.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/49.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/50.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/51.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/52.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/53.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/54.jpg"/></a></li>
             <li><a href="#"><img src="img/medium/43.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/44.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/45.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/46.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/47.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/48.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/49.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/50.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/51.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/52.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/53.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/54.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/43.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/44.jpg"/></a></li>
            <li><a href="#"><img src="img/medium/45.jpg"/></a></li>
            li><a href="#"><img src="img/medium/46.jpg"/></a></li>
          

          </ul>
        </div>
    </div>
    <div class="row block2">
      <div class="small-6 large-centered columns">
      
        <div class="row investors">
          <h1> Investors </h1>
          <div class="large-4 columns">
            <h2><i class="fa fa-rocket fa-fw fa-2x"></i>    Invest as lil as£1</h2> 
            <p> l a d'abord joué dans le groupe des Red Mountain Gospellers, puis avec The Phalanster et enfin avec Taï Phong. Toutefois, c'est principalement sa carrière solo qui lui a permis de s'imposer comme l'un des chanteurs les plus populaires de sa génération, avec des titres comme Quand la musique est bonne (1982) ou Je te donne (1985). Il a ensuite mis de côté sa carrière en solo pendant la première partie des années 1990 pour fonder le trio Fredericks Goldman Jones, avec le Franco-Gallois Michael Jones et l'Américaine Carole Fredericks. </p> 
          </div>
          <div class="large-4 columns">
          <h2> <i class="fa fa-trophy fa-fw fa-2x"></i></i>    Earn points </h2>
            <p> l a d'abord joué dans le groupe des Red Mountain Gospellers, puis avec The Phalanster et enfin avec Taï Phong. Toutefois, c'est principalement sa carrière solo qui lui a permis de s'imposer comme l'un des chanteurs les plus populaires de sa génération, avec des titres comme Quand la musique est bonne (1982) ou Je te donne (1985). Il a ensuite mis de côté sa carrière en solo pendant la première partie des années 1990 pour fonder le trio Fredericks Goldman Jones, avec le Franco-Gallois Michael Jones et l'Américaine Carole Fredericks. </p> 
          </div>
          <div class="large-4 columns">
          <h2> <i class="fa fa-users fa-fw fa-2x"></i>    invite your friends </h2>
            <p> l a d'abord joué dans le groupe des Red Mountain Gospellers, puis avec The Phalanster et enfin avec Taï Phong. Toutefois, c'est principalement sa carrière solo qui lui a permis de s'imposer comme l'un des chanteurs les plus populaires de sa génération, avec des titres comme Quand la musique est bonne (1982) ou Je te donne (1985). Il a ensuite mis de côté sa carrière en solo pendant la première partie des années 1990 pour fonder le trio Fredericks Goldman Jones, avec le Franco-Gallois Michael Jones et l'Américaine Carole Fredericks. </p> 
          </div>
        </div>
        <div class="row business">
          <h1> Submit your biz </h1>
          <div class="large-4 columns">
            <h2> <i class="fa fa-exchange fa-fw fa-2x"></i>    Invest as lil as£1 </h2>
            <p> l a d'abord joué dans le groupe des Red Mountain Gospellers, puis avec The Phalanster et enfin avec Taï Phong. Toutefois, c'est principalement sa carrière solo qui lui a permis de s'imposer comme l'un des chanteurs les plus populaires de sa génération, avec des titres comme Quand la musique est bonne (1982) ou Je te donne (1985). Il a ensuite mis de côté sa carrière en solo pendant la première partie des années 1990 pour fonder le trio Fredericks Goldman Jones, avec le Franco-Gallois Michael Jones et l'Américaine Carole Fredericks. </p> 
          </div>
          <div class="large-4 columns">
          <h2> <i class="fa fa-home fa-fw fa-2x"></i>    Global reach </h2>
            <p> l a d'abord joué dans le groupe des Red Mountain Gospellers, puis avec The Phalanster et enfin avec Taï Phong. Toutefois, c'est principalement sa carrière solo qui lui a permis de s'imposer comme l'un des chanteurs les plus populaires de sa génération, avec des titres comme Quand la musique est bonne (1982) ou Je te donne (1985). Il a ensuite mis de côté sa carrière en solo pendant la première partie des années 1990 pour fonder le trio Fredericks Goldman Jones, avec le Franco-Gallois Michael Jones et l'Américaine Carole Fredericks. </p> 
          </div>
          <div class="large-4 columns">
          <h2> <i class="fa fa-money fa-fw fa-2x"></i>    Make money </h2>
            <p> l a d'abord joué dans le groupe des Red Mountain Gospellers, puis avec The Phalanster et enfin avec Taï Phong. Toutefois, c'est principalement sa carrière solo qui lui a permis de s'imposer comme l'un des chanteurs les plus populaires de sa génération, avec des titres comme Quand la musique est bonne (1982) ou Je te donne (1985). Il a ensuite mis de côté sa carrière en solo pendant la première partie des années 1990 pour fonder le trio Fredericks Goldman Jones, avec le Franco-Gallois Michael Jones et l'Américaine Carole Fredericks. </p> 
          </div>
        </div>
      </div>
    </div>

    <br clear="all">
    <div id="block3">
      <div class="row block3 videorow">
        <div class="small-6 large-centered columns">
          <h1> <img  href="#" src="img/crowdleafgrey.png"> PROJECT EXAMPLES </h1>
        <ul class="example-orbit" data-orbit>
            <li>
              <div class="slidvideo">
               <div id="wistia_72ptjwixw3" data-video-width="640" data-video-height="360"> </div>
             </div>
                
            </li>
            <li>
             <!--  <div id="wistia_72ptjwixw3" data-video-width="640" data-video-height="360"> </div> -->
                
            </li>
            <li>
              <!-- <div id="wistia_72ptjwixw3" data-video-width="640" data-video-height="360"> </div> -->
               
            </li>
          </ul> 
         </div>
         
      </div>
    </div>
    <div id="block4">
      <div class="row block4">
        <div class="small-6 large-centered columns">
            <a class="social" href="http://twitter.com/crowdded" style="text-decoration:none" target="_blank">
            <i class="fa fa-twitter fa-5x"></i></a>
            <a class="google" href="http://google.com/crowdfunding" style="text-decoration:none" target="_blank">
            <i class="fa fa-google-plus fa-5x"></i></a>
            <a class="face" href="http://facebook.com/anath.abensour" style="text-decoration:none" target="_blank">
            <i class="fa fa-facebook fa-5x"></i></a>
            <a class="linkedin" href="http://linkedin.com/" style="text-decoration:none" target="_blank">
            <i class="fa fa-linkedin fa-5x"></i></a>
        </div>
      </div>
    </div>

    <div id="block5">
      <div class="row block5">
        <div class="small-6 large-centered columns">
          <h1><img  href="#" src="img/crowdleaf.png"> Meet the crowdd </h1>

          <div class="scroller demo2">
            
            <div class="inside">
              <a href="#"><img src="img/assets/img1.jpg" alt="title #1" /></a>

              <p> Jack Daniels </br>
               35 years old </br>
               Web developer </p>
              <a href="#"><img src="img/assets/img2.jpg" alt="title #2" /></a>
              <p> Mick Jagger </br>
               30 years old </br>
               Rock band singer </p>
              <a href="#"><img src="img/assets/img3.jpg" alt="title #3" /></a>
              <p> Beyonce </br>
               32 years old </br>
               Best dancer ever </p>
              <a href="#"><img src="img/assets/img4.jpg" alt="title #4" /></a>
              <p> Melanie Fiord </br>
               28 years old </br>
               Graphic Designer </p>
              <a href="#"><img src="img/assets/img5.jpg" alt="title #5" /></a>
              <p> Woddy Allen </br>
               67 years old </br>
               Jewish Film Maker </p>
              <a href="#"><img src="img/assets/img6.jpg" alt="title #6" /></a>
              <p> Jean Paul Sartre </br>
               110 years old </br>
                Philosopher and Writer</p>
              <a href="#"><img src="img/assets/img7.jpg" alt="title #7" /></a>
              <p> Jayz </br>
               38 years old </br>
              Rapper, Autor, Compositor</p>
              <a href="#"><img src="img/assets/img8.jpg" alt="title #8" /></a>
              <p> Mark Zuckerberg </br>
               30 years old </br>
              Founder and CEO at Facebook</p>
              <a href="#"><img src="img/assets/img9.jpg" alt="title #9" /></a>
              <p> Ariel Goldenblat </br>
               42 years old </br>
              Vincent Chase's movie agent</p>
              <a href="#"><img src="img/assets/img10.jpg" alt="title #11" /></a>
              <p> Serge Gainsburg </br>
               90 years old </br>
              French singer, philosopher, writer, compositor</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    
   

    <footer>@Jame/Tom/Gianni/Giacomo/Anath</footer>
    
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="http://fast.wistia.net/static/E-v1.js"></script>
    <script src="js/jquery.easing.js" type="text/javascript"></script>
    <script src="js/scroller.js" type="text/javascript"></script>
    <script src="js/init.js" type="text/javascript"></script> 
    <script type="text/javascript" src="js/jquery.gridrotator.js"></script>
    <script type="text/javascript"> 
      $(document).foundation();

      $(function() {
      
        $( '#ri-grid' ).gridrotator( {
          rows    : 5,
          columns   : 12,
          animType  : 'fadeInOut',
          animSpeed : 500,
          interval  : 200,
          step    : 1,
          w320    : {
            rows  : 3,
            columns : 4
          },
          w240    : {
            rows  : 3,
            columns : 4
          }
        } );
        


        wistiaEmbed = Wistia.embed("72ptjwixw3", {


        playerColor: "ff0000",
        fullscreenButton: false,
        container: "wistia_72ptjwixw3",
        videoFoam: true,


        plugin: {
        "socialbar-v1": {
        buttons: "embed-twitter-facebook"
        }
        }
        });
      
        });


    </script>
  </body>
</html>
