<!doctype html>

<h2><%= @project.name %></h2>
<h3>Raised so far: £
  <span class="amount_raised" data-id="<%= @project.id %>">
    <%= @project.donations_total/100.0 %>
  </span>
</h3>

<% if user_signed_in? %>
  <%= button_to project_donations_path(@project, amount: 100), remote: true do %>
    Donate £1.00
  <% end %>
<% end %>

<% if company_signed_in? %>
  <h3> You are signed in as a Company</h3>
  <h3> Sign in as a User to make a donation</h3>
<% end %>
