// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





nav.top-bar {
  height: 80px;
  background-color: white;
}

button.alert, .button.alert {
background-color: #c60f13;
border-color: #9e0c0f;
color: white;
/*height: 37px;*/
}

.large-12.columns {
  width:100%;
  height:auto;
}

input[type="text"] {
  height: 29px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  line-height: 60px;
}

.top-bar input, .top-bar .button {
  top: 15px;
}

.row {
  border: 2px solid red;
  margin-bottom: 2px;
}

/*.small-6 {
  position: relative;
  width: 100%;
  height: auto;
  background-color: orange;
  padding: 20px;
  border: 2px solid;
}*/

.large-12 {
  border: 2px solid purple;
}

.large-8 {
  border: 2px solid blue;
}


.large-4 {
  border: 2px solid green;
  padding: 5px;
}

.large-3 {
  border: 2px DarkMagenta;
  padding: 5px;
}



img, object, embed {
  max-width: 60%;
  height: auto;
  width: 100%;
  margin-left: 190px;
  margin-top: 9px;
}

.top-bar-section ul {
  background-color: white;
  width: auto;
  height: 100px;
  display: inline;
}

#block1-bg {
  background-color: rgb(122, 206, 163);
}

#block2-bg {
  background-color: teal;
}

#block3-bg {
  background-color: deepPink;
}

#block4-bg {
  background-color: yellow;
}

.project-title {
  background-color: green; 
  width: 100%; 
  height: auto; 
  padding: 15px;
  list-style: none;
  margin-left: 0;
}

div.large-8.columns.wistia {
  padding-left: 0 !important;
}

.portal {
  margin-top: 20px;
}

.holder-div {
  width: 100%;
  height: 300px;
  background-color: solid black;
}

footer {
  height: 60px;
  width: 100%;
  background-color: #252525;
  color: white;
}

.make-it-happen-btn {
  width: 250px;
  height: 100px;
  background-color: black;
  color: white;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
  padding: 10px;
  position: relative;
  text-align: center;

}

.btn-vid {
  width: 250px;
  height: 60px;
  background-color: green;
  color: white;
  font-size: 12px;
  margin-bottom: 3px;
  margin-top: 3px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  position: relative;
  text-align: center;
}

.project-info {
  margin-bottom: 5px;
}
