body, h1, h2, h3, h4, h5, h6, p, div {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif ;
}

h1 {
font-size: 40px;
font-weight: 700;
}

h2 {
font-size: 34px;
font-weight: 600;
}

h3 {
font-size: 24px;
font-weight: 500;
}

h4 {
font-size: 16px;
font-weight: 400;
}

h5 {
font-size: 12px;
font-weight: 300;
}

h6 {
font-size: 9px;
font-weight: 200;
}


.row {
padding: 10px;
}

.large-12.columns {
  width:100%;
  height:auto;
}

input[type="text"] {
  height: 29px;
}

#block1-bg {
  background-color: rgba(131, 176, 103, 0.82);

}

#block1-bg .columns {
  padding-left: 0;
  padding-right: 0;  
}

#block2-bg {
  background-color: #FFFFE8;
}

#block3-bg {
  background-color: rgba(131, 176, 103, 0.82);
  padding-bottom: 100px;
}

#block4-bg {
  background-color: #FFFFE8;
}

.block2 h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
}

/*TOP SECTION: PROJECT OVERVIEW*/
hr {
  border: none;
  height: 2px;
  color: black;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 5px;
}

#double {
  width:80%;
  margin-bottom: 20px;
  margin-left: 0px;
  overflow: hidden;
  padding: 0;
}


@media(max-width: 1024px) {
  #double {
    width: 100%;
  }
}

#double li {
  line-height: 1.3em;
  float: left;
  display: inline;
  width: 33.333%;
  color: black;
}


#double li h2, .li-title h1 {
  color: #FFFFE8;
}

#double h2, h4 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.make-it-happen-btn {
  width: 88%;
  height: 135px;
  background-color: #C85D5D;
  border-width: 2px;
  border-color: black;
  border-radius: 2px;
  color: black;
  font-size: 40px;
  font-weight: 700;
  margin-left: auto;
  margin-right: 5px;
  margin-bottom: 30px;
  margin-top: 0px;
  padding: 10px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  outline: none;
  display: block;
  padding-top: 0;
}

.make-it-happen-btn h2 {
  margin-top: 20px;
}

:hover.make-it-happen-btn {
  background-color: #BA4C4C;
  transition:background 2s ease-out, background .3s ease-in;
}

div.large-8.columns.wistia {
  padding-left: 0 !important;
}

#project-btn, #company-btn {
  width: 88%;
  height: 85px;
  background-color: transparent;
  color: #FFFFE8;
  font-size: 24px;
  margin-left: auto;
  margin-right: 5px;
  margin-bottom: 30px;
  padding: 10px;
  position: relative;
  text-align: center;
  border: 2px solid;
  border-radius: 2px;
  display: block;
  outline: none;
}


@media(max-width: 1024px) {
  .make-it-happen-btn {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
}

@media(max-width: 1024px) {
  #project-btn, #company-btn {
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
}

#project-btn h3, #company-btn h3 {
  color: #FFFFE8;
}

button {
  border-color: transparent;
}

.funded, .backers, .days2go {
  margin-left: 7px;
  margin-bottom: 5px;
}

.row.portal {
  padding-bottom: 100px;
}

#portal h2, #portal2 h2 {
  text-align: center;
  color: #FFFFE8;
  margin-bottom: 20px;
}

#portal.large-12.columns.portal {
  background-color: rgba(62, 120, 98, 0.63);
  font-size: 16px;
  height: auto;
  text-align: left;
  padding: 30px;
  display: none;
  /*color: #2e2e2e;*/
  color: #FFFFE8;
}

#portal2.large-12.columns.portal {
  background-color: rgba(62, 120, 98, 0.63);
  font-size: 16px;
  height: auto;
  text-align: left;
  padding: 30px;
  display: none;
  color: #FFFFE8;
}

@media(max-width: 640px) {
  #portal p, #portal2 p {
    font-size: 11px;
  }
}

@media(max-width: 640px) {
  #portal h2, #portal2 h2 {
    font-size: 16px;
  }
}

 /*SECTION 2: FUNDERS GALLERY*/

.holder-div {
  padding: inherit;
  text-align: center;
}

.holder-div {
  width: 100%;
  height: 300px;
  background-color: solid black;
}

.holder-div h2 {
  margin-top: 50px;
}

#block2-bg h1 {
font-family: "Raleway";
font-weight: 600;
text-align: center;
color: rgba(222, 23, 23, 0.7);
font-size: 35px;
margin-top: 20px;
border-bottom: 1px solid;
}

#block2-bg {
  height: 500px; 
}

.block2 h1 img {
max-width: 8%;
padding-bottom: 29px;
}


/*SECTION 3: PROJECTS BOX STYLING*/

.discover-title h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

#navcontainer ul {
  margin: 0 33px;
  padding: 0;
  color: #FFFFE8;
  font-size: 0;
}

#navcontainer ul li { 
  display: inline-block;
  width: 33.3%;
  text-align: center;
  margin: 0;
  font-size: 1rem;
}

#navcontainer ul.definitions li {
  font-size: 0.6rem;
  margin-top: 10px;
}

#prj-text {
  height: 63px;
  overflow: hidden;
  color: black;
  margin-bottom: 20px;
}

.discover-title h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  color: #FFFFE8;
}

.row.projects-top {
  padding-top: 30px;
  padding-bottom: 15px;
}

.row.projects-bottom {
  padding-top: 15px;
  padding-bottom: 30px;
}

.project-title {
  width: 100%; 
  height: auto; 
  padding: 5px 0px;
  list-style: none;
  margin-left: 0;
  margin-top: 30px;
  color: #FFFFE8;
}

ul.project-title {
  margin-bottom: 0;
}

.project-title .li-title {
  font-size: 34px;
  color: #FFFFE8;
}

.project-title .li-subtitle {
  font-size: 12px;
  color: black;
}

.large-4.projects {
  border: 0px;
}

.pricing-table {
  padding: 20px;
  margin-bottom: 0px;
  border: 0px;
  background-color: rgba(62, 120, 98, 0.63);
  transition:background .5s ease-out, background .3s ease-in;
}

.pricing-table h4 {
  margin-top: -15px;
  margin-bottom: 10px;
  text-align: center;
}

:hover.pricing-table {
  background-color: rgba(62, 120, 98, 0.90);
}

.pricing-table .cta-button {
  background-color: transparent;
  text-align: center;
  padding: 1.25rem 1.25rem 0;
}

.cta-button a.button {
  background-color: #96D495;
}


/*SECTION 4 SOCIAL BAKING*/

#block4-bg {
background-color:rgba(33, 57, 142, 0.68);
height:230px;
}


.fa-5x {
font-size: 6em;
padding-left: 103px;
padding-right: 15px;
color:white;
}

.fa-5x:hover {
  opacity:0.4;
}

#ico-social {
  display: inline;
}

#ico-social li {
/*  line-height: 1.3em;*/
  float: left;
  display: inline;
  width: 25%;
}

#ico-social ul {
/*  line-height: 1.3em;*/
  text-align: center;
  margin-left: -60px;
  margin-bottom: -30px;
}

/*OVERLAY*/
nav {
  font-family: Raleway, Helevetica Neue, sans-serif;
}

.overlay {
  background: #3E92CE;
}

button.overlay-close {
  background-color: transparent;
}

#balance-wrapper {
  padding: 5px;
  color: #2e2e2e;
}

#balance-text {
  font-size: 24px;
}

#balance-box {
  font-size: 80px;
  font-weight: 700;
}

 .button_to button {
  background: transparent;
  border-width: 3px;
  border-color: #2e2e2e;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: solid;
  color: black;
  margin-top: 100px;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif ;
}

button hr {
  border-color: black;
}

#balance-donate-pound {
  font-size: 24px;
  margin-top: 15px;
}

#balance-and {
  font-size: 12px;
}

#balance-cta {
  font-size: 16px;
}

#project_search {
        width: 30%;
    margin-left: 16px;
}

.project-box {
  border: 1px solid grey;
  margin: 2%;
  border-radius: 5px;
  width: 50%;
  padding: 2%;
  background-color: rgba(131, 176, 103, 0.54);

}

.project-box h3 {
  font-family:'Raleway';
  font-weight: 500; 
}
.project-box h4 {
  font-family:'Raleway';
  font-weight: 100; 
}
























