body {
background-color: rgba(131, 176, 103, 0.82);
}

body, h1, h2, h3, h4, h5, h6, p, div, label, form {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif ;
}

.page-container {
  padding: 50px;
  /*border: 5px solid;*/
}

#submit-title {
  text-align: center;
  margin-bottom: 30px;
}

#submit-title h2 {
  font-weight: 700;
  color: #353535;
}

img {
  width: 10%;
}

.large-12.columns.leaf {
  text-align: center;
}

label {
  font-size: 20px;
  padding-bottom: 5px;
  color: #353535;
}

#vid-btn {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

#launch-btn button {
  background-color: rgba(62, 120, 98, 0.63);
}

.row.projectform {
  width: 60%;
}

@media(max-width: 1024px) {
  .row.projectform {
    width: 80%;
  }
}

@media(max-width: 700px) {
  .row.projectform {
    width: 100%;
  }
}

@media(max-width: 700px) {
  label {
    font-size: 16px;
  }
}

@media(max-width: 495px) {
  label {
    font-size: 12px;
  }
}