body {
  background-color: rgba(131, 176, 103, 0.82);
  color: #353535;
}


body, h1, h2, h3, h4, h5, h6, p, div, label, form {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif ;
}

.leaf h2 {
  font-weight: 700;
  color: #353535;
}