<%= form_tag project_charges_path do %>
  <article>
    <label class="amount">
      Amount: £1.00
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="100"></script>
<% end %>